/* hr */
.module-link {
    text-decoration: none;
    padding: 5px;
    
  
  }
  
  .module-link:hover {
    background-color: #89d99c;
    border-radius: 10px;
  }
  
  

.avatar_hr {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    }