{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="container">
            <h1 class="text-center fw-bold p-3 bg-info mt-3 rounded">Về chúng tôi</h1>    
            <hr>
            {% for info in about  %}
            <h5 class=" bg-primary text-white rounded p-2 mt-4 mb-3">
                {{ info.title }}
            </h5>
            <p>
                {{ info.content|safe }}
            </p>
            
            {% endfor %}
    </div>
{% endblock %}
