{% extends 'base.html' %}
{% load static %}

{% block title %}
    Trang chủ
{% endblock %}

{% block content %}
    <div class="container">
      {% comment %} carousel {% endcomment %}
      <div class="hero">
        <div class="container">
          <div id="carouselId" class="carousel slide mt-3" data-bs-ride="carousel">
              <ol class="carousel-indicators">
                  <li
                      data-bs-target="#carouselId"
                      data-bs-slide-to="0"
                      class="active"
                      aria-current="true"
                      aria-label="First slide"
                  ></li>
                  <li
                      data-bs-target="#carouselId"
                      data-bs-slide-to="1"
                      aria-label="Second slide"
                  ></li>
                  <li
                      data-bs-target="#carouselId"
                      data-bs-slide-to="2"
                      aria-label="Third slide"
                  ></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                {% for banner in banners %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img
                    src="{{ banner.image.url }}"
                    class="w-100 d-block carousel-img rounded"
                    alt="Banner {{ forloop.counter }}"
                  />
                </div>
              {% endfor %}
              </div>
              <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselId"
                  data-bs-slide="prev"
              >
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselId"
                  data-bs-slide="next"
              >
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
        </div>
      
      {% comment %} end carousel {% endcomment %}
    
        <div class="about-us mt-3">
        <!-- Về chúng tôi -->
        <h2 class="fw-bold p-3 bg-primary text-white text-center">Về chúng tôi</h2>
        
            
            <p class="fs-5 text-center px-4 py-2 about-us-desc lh-lg">
              OPAS là công ty chuyên cung cấp các sản phẩm và giải pháp tiêu dùng thiết yếu, hướng đến việc nâng cao chất lượng cuộc sống của người Việt. Với phương châm "Uy tín – Chất lượng – Hiệu quả", OPAS cam kết mang đến những sản phẩm an toàn, thân thiện với môi trường và đáp ứng tốt nhu cầu thực tiễn của khách hàng. Chúng tôi không ngừng đổi mới để phục vụ cộng đồng một cách tốt nhất.
            </p>
        
            <div class="text-center">
                {% comment %} <a href="{% url 'about_us' %}" class="custom-btn text-decoration-none">Xem thêm</a> {% endcomment %}
                <a href="{% url 'about_us' %}" class="see-more-btn">
                  Xem thêm <span class="arrow">→</span>
                </a>
            </div>
        
        </div>

        <!-- Ngành hàng -->
        <div class="group-brand mt-5">
                <div class="col-md-12 text-center">
                  <h2 class="fw-bold p-3 bg-primary text-white">Ngành hàng</h2>
                  <p class="fs-4 text-center px-4 py-2 about-us-desc lh-lg">
                    Chúng tôi cung cấp nhiều ngành hàng khác nhau với đa dạng các sản
                    phẩm tiêu dùng hàng ngày
                  </p>
                </div>
                {% comment %} Image {% endcomment %}

                <div class="mt-5 row d-flex justify-content-center align-items-center">
                  {% for nganh in nganh_hang_list %}
                    <div class="col-md-4 mb-4">
                      <div class="card h-100 border-0">
                        <a href="#" class="text-decoration-none text-dark text-center p-3">
                          {% if nganh.logo %}
                            <img src="{{ nganh.logo.url }}" alt="{{ nganh.name }}" class="img-fluid w-100"/>
                          {% else %}
                            <img src="{% static 'images/Logo/default-logo.png' %}" alt="No logo" class="img-fluid ">
                          {% endif %}
                          
                        </a>
                      </div>
                    </div>
                  {% empty %}
                    <p class="text-center text-muted">Chưa có ngành hàng nào được đăng.</p>
                  {% endfor %}

                  <div class="text-center mt-4">
                    
                    <a href="{% url 'group' %}" class="see-more-btn">
                      Xem thêm <span class="arrow">→</span>
                    </a>
                </div>
                
                
             
        </div>

        <div class="infomation mt-5">
            <!-- Thông báo-->
        <div class="col-md-12 text-center">
            <h2 class="fw-bold p-3 bg-primary text-white">Thông báo</h2>
          </div>
   
          <div class="row mt-3 d-flex justify-content-center">
            {% for thong_bao  in anouncement_list  %}
            <a href="{% url 'thong_bao_chi_tiet' thong_bao.id %}" class="col-md-3 mx-4 shadow-sm mt-3 text-decoration-none text-dark thong-bao">
              <img
                src="{{ thong_bao.thumbnail.url }}"
                class="img-fluid img-information p-2" alt="info"
              />
              <p class="fw-bold fs-5 mt-3 text-center">{{thong_bao.tieu_de}}</p>
            </a>
            {% endfor %}
                 
          </div>

          <div class="text-center mt-4">
            <a href="{% url 'thong-bao' %}" class="see-more-btn">
              Xem thêm <span class="arrow">→</span>
            </a>
            
          </div>
        </div>

        <div class="infomation mt-5">
          <!-- Thông báo-->
      <div class="col-md-12 text-center">
          <h2 class="fw-bold p-3 bg-primary text-white">Tin tuyển dụng</h2>
        </div>
 
        <div class="row mt-3 d-flex justify-content-center">
          {% for apply in apply_memos  %}
          <a href="{% url 'tuyen_dung_chi_tiet' apply.id %}" class="col-md-3 mx-4 shadow-sm mt-3 text-decoration-none text-dark thong-bao">
            <img
              src="{{apply.thumbnail.url}}"
              class="img-fluid img-information p-2"
              alt="info"
            />
            <p class="fw-bold fs-5 mt-3 text-center">{{apply.tieu_de}}</p>
          </a>
          {% endfor %}        
        </div>
        <div class="text-center mt-4">
          <a href="{% url 'tuyen-dung' %}" class="see-more-btn">
            Xem thêm <span class="arrow">→</span>
          </a>
        </div>
      </div>


      </div>
    </div>
{% endblock %}
    